/**
 * Primary colours
 */

// Nets Colours
$color--grey:                       #1d1d1b;
$color--lightgrey:                  #1d1d1b;
$color--primary:                    #0f4c68;
$color--secondary:                  #df0639;
$color--black:                      #77c04f;
$color--white:                      #ffffff;

// Social Colours
$color--facebook:                   #3B5998;
$color--twitter:                    #00ABF0;
$color--instagram:                  #125688;

// Signal Colours
$color--status:                     #B9E1FF;
$color--warning:                    #FFE377;
$color--error:                      #FF9595;