/**
 * Primary colours
 */

$color--grey:          #1d1d1b;
$color--lightgrey:     #e4e4e4;
$color--lightergrey:   #f8f5f5;
$color--primary:       #3AB6C2;
$color--secondary:     #554A9B;
$color--tertiary:      #FFAE78;
$color--black:         #77c04f;
$color--white:         #ffffff;

// Social Colours
$color--facebook:      #3B5998;
$color--twitter:       #00ABF0;
$color--instagram:     #125688;

// Signal Colours
$color--status:        #B9E1FF;
$color--warning:       #FFE377;
$color--error:         #FF9595;