// Layout Variables
$base-spacing: 10px;
$base-gutter: $base-spacing * 2;
$base-leading: $base-spacing * 2;
$max-width: 1200px;

// Visual Variables
$base-border-color: $color--grey;
$base-border-width: 1px;
$base-border-style: solid;
$base-border-type: $base-border-width $base-border-style;
$base-border: $base-border-type $base-border-color;
$base-radius: 2px;
$base-transition: 0.25s ease;

// Breakpoints
$xsmall: 360px;   // Small phone
$small: 480px;    // Phone
$medium: 768px;   // Tablet Horizontal (768px - iPad)
$large: 1024px;   // Tablet Vertically (1024px - iPad)
$full: 1280px;    // Laptop (1280px - Macbook)
$xlarge: 1450px;  // Desktop

// Media Queries
// Xtra Small
$xsmall-up:       "min-width: $xsmall";
$xsmall-down:     "max-width: $xsmall - 1px";

// Small
$small-up:        "min-width: $small";
$small-down:      "max-width: $small - 1px";

// Medium
$medium-up:       "min-width: $medium";
$medium-down:     "max-width: $medium - 1px";

// Large
$large-up:        "min-width: $large";
$large-down:      "max-width: $large - 1px";

// Full
$full-up:         "min-width: $full";
$full-down:       "max-width: $full - 1px";

// XLarge
$xlarge-up:       "min-width: $xlarge";
$xlarge-down:     "max-width: $xlarge - 1px";

