@import "../vendor/fonts/fonts";


/**
 * Headers
 *
 * h1 - First level heading
 * h2 - Second level heading
 * h3 - Third level heading
 *
 * markup:
 * <{$modifiers}>{$modifiers}. Heading example</{$modifiers}>
 *
 * Styleguide 2.1
 */

body {
  font-size: 1rem;
  line-height: 1.7;
  color: $color--white;
  font-family: $roboto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $titillium-web;
  font-weight: 100;
  color: $color--primary;
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1 {
  margin: 44px 0 12px;
  font-size: $h1-size;
}

h2,
.h2 {
  margin: 37px 0 11px;
  font-size: $h2-size;
}

h3,
.h3 {
  margin: 23px 0 9px;
  font-size: $h3-size;
}

h4,
.h4 {
  margin: 25px 0 7px;
  font-size: $h4-size;
}

h5,
.h5 {
  margin: 26px 0 6px;
  font-size: $h5-size;
}

h6,
.h6 {
  margin: 26px 0 4px;
  font-size: $h6-size;
}

p {
  font-size: $font-size;
  font-weight: $slim;
}

a {
  color: $color--white;
  font-weight: 200;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    //color: #6BABC6;
  }

  &:visited {
    //color: $color--primary;
    text-decoration: none;
  }
}

code,
kbd,
pre,
samp {
  font-family: $roboto-mono;
}

pre {
  margin: 0;
  border-radius: 2px;
}

.code {
  margin-bottom: 2rem;
}

figure {
  background: #ffffff;
  padding: 1rem 2rem;
  margin: 0;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid #ececec;
}

blockquote {
  margin: 0;
  padding: 1rem 3rem;
}

.title {
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-bottom: 0.7rem;
}