---
layout: default
title:
- Flexbox
- dynCol
- Column
---

{% if page.title[0] == null %}{% else %}
  <!-- #0 -->
  <div id="{{ page.title[0] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[0] }}</h2>
    <div class="code">
      {% highlight css %}
      .wrapper {
      display: flex;
      }
      .item {
      flex: 1;
      margin-right: 1rem;

      &:last-child {
      margin-right: 0;
      }
      }{% endhighlight %}
    </div>
    <h6 class="subtitle">Example</h6>
    <div class="wrapper">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
{% endif %}

{% if page.title[1] == null %}{% else %}
  <!-- #1 -->
  <div id="{{ page.title[1] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[1] }}</h2>
    <div class="code">
{% highlight css %}
// dynCol Mixin Usage
@mixin dyncol {
@for $i from 1 through 12 {
> *:first-of-type:nth-last-of-type(#{$i}),
> *:first-of-type:nth-last-of-type(#{$i}) ~ * {
width: calc(100% / #{$i} - #{$margin} + (#{$margin} / #{$i}));
margin-left: $margin/2;
margin-right: $margin/2;
margin-bottom: 0;
display: block;
float: left;

&:first-child {
margin-left: 0;
}

&:last-child {
margin-right: 0;
}
}
}
}{% endhighlight %}
    </div>
    <h6 class="subtitle">Example</h6>
    <div class="wrapper">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
{% endif %}

{% if page.title[2] == null %}{% else %}
  <!-- #2 -->
  <div id="{{ page.title[2] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[2] }}</h2>
    <div class="code">
{% highlight css %}
@mixin column(
  $var1: 4, $var2: 3, $var3: 2, $var4: 1, $breakpoint1: $breakpoint1, $breakpoint2: $breakpoint2, $breakpoint3: $breakpoint3, $margin1: $margin1) {
  > * {
    display: block;
    float: left;

    @media screen and (min-width: $breakpoint1 - 1px) {
      margin-right: $margin1;
      margin-bottom: $margin1;
      width: calc(((100% - (#{$var1} - 1) * #{$margin1})) / #{$var1});

    &:nth-child(#{$var1}n + #{$var1}) {
      margin-right: 0;
    }

    &:nth-child(#{$var1}n+1) {
      clear: left;
    }
  }
}
.wrapper {
  @include column(4,3,2,1, $large, $small, $msmall, 20px);
}

{% endhighlight %}
    </div>
    <div class="wrapper">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
{% endif %}

{% if page.title[3] == null %}{% else %}
  <!-- #3 -->
  <div id="{{ page.title[3] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[3] }}</h2>
  </div>
{% endif %}

{% if page.title[4] == null %}{% else %}
  <!-- #4 -->
  <div id="{{ page.title[4] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[4] }}</h2>
  </div>
{% endif %}

{% if page.title[5] == null %}{% else %}
  <!-- #5 -->
  <div id="{{ page.title[5] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[5] }}</h2>
  </div>
{% endif %}

{% if page.title[6] == null %}{% else %}
  <!-- #6 -->
  <div id="{{ page.title[6] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[6] }}</h2>
  </div>
{% endif %}

{% if page.title[7] == null %}{% else %}
  <!-- #7 -->
  <div id="{{ page.title[7] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[7] }}</h2>
  </div>
{% endif %}

{% if page.title[8] == null %}{% else %}
  <!-- #8 -->
  <div id="{{ page.title[8] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[8] }}</h2>
  </div>
{% endif %}

{% if page.title[9] == null %}{% else %}
  <!-- #9 -->
  <div id="{{ page.title[9] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[9] }}</h2>
  </div>
{% endif %}

{% if page.title[10] == null %}{% else %}
  <!-- #10 -->
  <div id="{{ page.title[10] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[10] }}</h2>
  </div>
{% endif %}

{% if page.title[11] == null %}{% else %}
  <!-- #11 -->
  <div id="{{ page.title[11] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[11] }}</h2>
  </div>
{% endif %}

{% if page.title[12] == null %}{% else %}
  <!-- #12 -->
  <div id="{{ page.title[12] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[12] }}</h2>
  </div>
{% endif %}

{% if page.title[13] == null %}{% else %}
  <!-- #13 -->
  <div id="{{ page.title[13] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[13] }}</h2>
  </div>
{% endif %}

{% if page.title[14] == null %}{% else %}
  <!-- #14 -->
  <div id="{{ page.title[14] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[14] }}</h2>
  </div>
{% endif %}

{% if page.title[15] == null %}{% else %}
  <!-- #15 -->
  <div id="{{ page.title[15] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[15] }}</h2>
  </div>
{% endif %}

{% if page.title[16] == null %}{% else %}
  <!-- #16 -->
  <div id="{{ page.title[16] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[16] }}</h2>
  </div>
{% endif %}

{% if page.title[17] == null %}{% else %}
  <!-- #17 -->
  <div id="{{ page.title[17] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[17] }}</h2>
  </div>
{% endif %}

{% if page.title[18] == null %}{% else %}
  <!-- #18 -->
  <div id="{{ page.title[18] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[18] }}</h2>
  </div>
{% endif %}

{% if page.title[19] == null %}{% else %}
  <!-- #19 -->
  <div id="{{ page.title[19] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[19] }}</h2>
  </div>
{% endif %}

{% if page.title[20] == null %}{% else %}
  <!-- #20 -->
  <div id="{{ page.title[20] | slugify: 'pretty' }}" class="slider-element">
    <h2 class="title">{{ page.title[20] }}</h2>
  </div>
{% endif %}
