// Include Mixin on wrapper for siblings to justify.
// NOTE: You can have "margin-left/right" on the container for this to work.

@mixin dyn-columns {
  @include media($medium-up) {
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
  }

  @for $i from 1 through 12 {
    > *:first-of-type:nth-last-of-type(#{$i}),
    > *:first-of-type:nth-last-of-type(#{$i}) ~ * {
      width: 100%;
      float: left;
      margin-bottom: $gutter;

      @include media($medium-up) {
        width: calc(100% / #{$i} - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;
        margin-bottom: 0;
      }
    }
  }
}

@mixin dyn-columns-clean {

  @for $i from 1 through 12 {
    > *:first-of-type:nth-last-of-type(#{$i}),
    > *:first-of-type:nth-last-of-type(#{$i}) ~ * {
      width: 100%;
      float: left;
      margin-bottom: $gutter;

      @include media($medium-up) {
        width: calc(100% / #{$i});
        margin-bottom: 0;
      }
    }
  }
}