main.main {
  position: relative;
  background: $color--lightergrey; /* fallback for old browsers */
  background: linear-gradient(-40deg, lighten($color--lightergrey, 10%), $color--lightergrey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}