@mixin inliner($offset:1) {
  $offset: 1+$offset;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;

  &:nth-child(1n+#{$offset}) {
    margin-left: -4px;

    @include media($phone) {
      margin-left: 0;
    }
  }
}
